    <!-- TOPO -->
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img id="logo" src="assets/logo.png" alt="Logomarca muito louca.">
            </div>
            <div class="col-6">
                <p class="destaque">A melhor farmácia de Anápolis</p>    
            </div>
        </div>
    </div>

    <!-- MENU -->
    <div class="container bg-verde-musgo">
        <div class="row">
            <div class="col-16">
                <ul class="nav">
                    <li class="nav-item"><a [routerLink]="['produto/home']">Home</a></li>
                    <li class="nav-item"><a [routerLink]="['category']">Categoria</a></li>
                    <li class="nav-item"><a [routerLink]="['produto']">Produto</a></li>
                </ul>
            </div>
            <div class="col-4">
                    <app-carrinho></app-carrinho>
            </div>
        </div>
    </div>

    <!-- CONTEUDO -->
    <div class="container">
        
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- RODAPE -->
    <br><br>
    <div class="container rodape">
        <p><i>2018 - Todos direitos reservados</i></p>
    </div>